-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: workermanage
-- ------------------------------------------------------
-- Server version	5.5.5-10.11.0-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `temp_allocations`
--

DROP TABLE IF EXISTS `temp_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temp_allocations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `line_id` int(11) NOT NULL,
  `machine_id` int(11) DEFAULT NULL,
  `employee_id` varchar(50) NOT NULL,
  `worker_name` varchar(150) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temp_allocations`
--

LOCK TABLES `temp_allocations` WRITE;
/*!40000 ALTER TABLE `temp_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `temp_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workers`
--

DROP TABLE IF EXISTS `workers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
  `phone` varchar(20) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `employee_id` varchar(50) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `gender` varchar(20) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `skill_level` enum('beginner','intermediate','advanced','expert') COLLATE utf8mb4_uca1400_ai_ci DEFAULT 'intermediate',
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `contractor_name` varchar(150) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `joining_date` date DEFAULT NULL,
  `father_husband_name` varchar(150) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `division` varchar(100) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `section` varchar(100) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `nature_of_work` varchar(150) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `last_attendance` date DEFAULT NULL,
  `aadhaar_no` varchar(20) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `pf_no` varchar(50) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `esi_no` varchar(50) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `emergency_contact` varchar(20) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `state` varchar(100) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `district` varchar(100) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `qualification` varchar(150) COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `rating` tinyint(4) DEFAULT 2,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2678 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workers`
--

LOCK TABLES `workers` WRITE;
/*!40000 ALTER TABLE `workers` DISABLE KEYS */;
/*!40000 ALTER TABLE `workers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-21 12:51:42
